#board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

.even-row.tile:nth-of-type(1n) {
    background-color: white;
}

.even-row.tile:nth-of-type(2n) {
    background-color: black;
}

.odd-row.tile:nth-of-type(1n) {
    background-color: black;
}

.odd-row.tile:nth-of-type(2n) {
    background-color: white;
}

#btn-area {
    margin-top: 1rem;
}